= provide(:title, 'New Reservation')
%script
  $(function() {
  $( "#reservation_startDate" ).datepicker();
  $( "#reservation_endDate"   ).datepicker();
  });
%h1 New Reservation

.row
  .span6.offset3
    = form_for(@reservation) do |f|
      = render 'shared/error_messages', object: f.object

      = f.label :startDate, "Start Date", class: 'reservation_forms'
      = f.text_field :startDate, class: 'reservation_forms'

      = f.label :endDate, "End Date", class: 'reservation_forms'
      = f.text_field :endDate, class: 'reservation_forms'
      
      = f.submit "Reserve me a room!", class: "btn btn-large btn-primary"