%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to(root_path, id: "logo") do
        %span.logoFront Hotel
        %span.logoBack Reserve
      %nav
        %ul.nav.pull-right
          %li= link_to "Home",    root_path
          %li= link_to "Help",    help_path
          - if signed_in?
            %li= link_to "Users", users_path
            %li#fat-menu.dropdown
              = link_to('#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}) do
                Account
                %b.caret
              -# The following would also work (without the caret, thus the above)
              -# %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}} Account
              -# %a.dropdown-toggle(href='#' data-toggle='dropdown') Account
              -# %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'} Account
              %ul.dropdown-menu
                %li= link_to "Profile", current_user
                %li= link_to "Settings", edit_user_path(current_user)
                %li.divider
                %li= link_to "Sign out", signout_path, method: "delete"
          - else              
            %li= link_to "Sign in", signin_path
          -# The below li is for reference to show how to create a
            more complex anchor tag with a specific class
          -# %li
            -# = link_to('#') do
              -# %i.icon-heart.icon-white
              -# Sign in
  