%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to(root_path, id: "logo") do
        %span.logoFront Hotel
        %span.logoBack Reserve
      %nav
        %ul.nav.pull-right
          %li= link_to "Home",                  root_path
          %li= link_to "About",                 about_path
          %li= link_to "New Reservation",       reserve_path
          %li= link_to "Existing Reservations", list_path
          -# The below li is for reference to show how to create a
            more complex anchor tag with a specific class
          -# %li
            -# = link_to('#') do
              -# %i.icon-heart.icon-white
              -# Sign in
  